@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
  --color-scroll-thumb-dark: #4b5563; /* Tailwind Gray 600 */
  --color-scroll-track-dark: #1f2937; /* Tailwind Gray 800 */
  --color-scroll-thumb: #9ca3af; /* Tailwind Gray 400 */
  --color-scroll-track: #f3f4f6; /* Tailwind Gray 100 */
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.draggable {
    --wails-draggable: drag; /* 启用拖拽 */
}

.no-draggable {
    --wails-draggable: no-drag; /* 禁用拖拽 */
}
